*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #1322a1;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}
.logo p{
    color: white;
}
.logo a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 10vh;
    background:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 250px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #fff;
    padding: 10px;
    line-height: 1.3rem;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}
.logo .fas{
    font-size: 50px;
}
ul.navbar{
    display: flex;
    list-style: none;
}
ul.navbar li{
    width: 120px;
}
ul.navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
ul.navbar li a.active{
    color: #FEC53A;
}
ul.navbar li a:hover:not(.active){
    color: #FEC53A;
}
#btn{
    width: 180px;
    height: 10vh;
    background: #FEC53A;
    color: #000;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}
#btn:hover{
    background-color: #fdb500;
}
#btn2:hover{
    background-color: #fdb500;
}
#btn .fas{
    margin-right: 10px;
}

.content-wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    margin-bottom: 900px;
}
.content-wrapper h1{
    font-size: 2rem;
    color: dodgerblue;
}
#btn2{
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: none;
    background: #FEC53A;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 20px;
    text-align: left;
}
.darksouls{
    width: 400px;
    height: 400px;
    background: linear-gradient(rgba(38, 2, 39, 0.86),rgb(112, 68, 17));
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 3px;
}
.darksouls::before{
    content: '';
    width: 160px;
    height: 160px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 200px;
}
.darksouls::after{
    content: '';
    width: 500px;
    height: 400px;
    background: url(../images/darksouls.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    left: -80px;
}
.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.logo-section .fas{
    font-size: 6rem;
    color: #FEC53A;
}
.logo-section h1{
    width: 250px;
    font-size: 2rem;
    color: #FEC53A;
    margin-left: 10px;
}

.section-1-wrapper-playstation{
    width: 70%;
    margin: auto;
}
.section-1-playstation h2{
    width: 600px;
    color: #FEC53A;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}
.section-1-img{
        display: flex;
        justify-content: space-evenly;
}
.section-1-img .img{
    width: 100px;
    height: 130px;
    background: url(../images/ghostoftsushima.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border-radius: 10px;
}
.section-1-img .img-2{
    background: url(../images/spiderman.png);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-3{
    background: url(../images/eldenring.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-4{
    background: url(../images/farcry.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-5{
    background: url(../images/uncharted.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-6{
    background: url(../images/tlou.png);
    background-size: cover;
    background-position: center;
}
.section-1-img .img-7{
    background: url(../images/dmc5.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img .img-8{
    background: url(../images/control.png);
    background-size: cover;
    background-position: center;
}
.img:hover{
    transform: translateY(-10px);
}

.game-categories{
    width: 70%;
    margin: 50px auto;
    position: relative;
}
.game-categories h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #FEC53A;
}
.game-wrapper{
    display: flex;
}
.gw{
    width: 208px;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: 20px 15px 0 0;
    border-radius: 10px;
    align-items: center;
}
.gw:hover{
    transform: translateY(-10px);
}
.left{
    position: relative;
    right: -140px;
}

.gw-1{
    background: url(../images/esportes.jpg);
    background-size: cover;
    background-position: center;
}
.gw-2{
    background: url(../images/corrida.jpg);
    background-size: cover;
    background-position: center;
}
.gw-3{
    background: url(../images/ellie.jpg);
    background-size: cover;
    background-position: center;
}
.gw-4{
    background: url(../images/eldenring.jpg);
    background-size: cover;
    background-position: center;
}

.section-3{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/controller.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section-3 h1{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.section-3-wrapper{
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.feedback{
    width: 250px;
    height: 300px;
    background: url(../images/feedback.jpg);
    background-position: center;
    background-size: cover;
 
}
.feedback-desc{
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.767);
    padding: 10px;
    color: #fff;
    margin-right: 10px;
}
.feedback-desc .far{
    color: #FEC53A;
    font-size: 30px;
}
.f-img-2{
    background: url(../images/image9.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #282828;
    display: flex;
    align-items: center;
    
}
.footer-body{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    height: 12vh;
    background-color: #FEC53A;
    color: #000;
    line-height: 1.7rem;
}
ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #FEC53A;
    margin-right: 15px;
}
ul li a:hover{
    color: #FEC53A;
}
.footer-bottom{
    width: 100%;
    height: 7vh;
    background: #1B1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}
.footer-bottom span{
    color: #FEC53A;
    font-weight: bold;
}
.section-3 nav{
    padding: 20px;
    background: #1a0327;
}
.section-3 nav h1{
    color: #FEC53A;
}
.menu-categories{
    -webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 4;
    color: #ffffff;
}
.content-desc img{
    height: 100%;
    width: 100%;
}
.container-playstation{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/ps4back.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container-playstation button{
    cursor: pointer;
}
.section-1-playstation{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/playstationsection.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
/* .logo-section-playsation h1{
    width: 250px;
    font-size: 2rem;
    color: #FEC53A;
    margin-left: 10px;
} */
.section-1-playstation-wrapper{
    width: 70%;
    margin: auto;
}
.section-1-playstation h1{
    width: 500px;
    color: #FEC53A;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}
.section-1-playstation-img{
    display: flex;
}
.section-1-playstation-img .img{
    width: 100px;
    height: 130px;
    background: url(../images/ghostoftsushima.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border-radius: 10px;
}
.section-1-playstation-img .img-2{
    background: url(../images/spiderman.png);
    background-size: cover;
    background-position: center;
}
.section-1-playstation-img  .img-3{
    background: url(../images/eldenring2.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-playstation-img  .img-4{
    background: url(../images/farcry.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-playstation-img  .img-5{
    background: url(../images/uncharted.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-playstation-img  .img-6{
    background: url(../images/tlou.png);
    background-size: cover;
    background-position: center;
}
.section-1-playstation-img .img-7{
    background: url(../images/dmc5.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-playstation-img .img-8{
    background: url(../images/control.png);
    background-size: cover;
    background-position: center;
}
